.MainWrapper
{
	display: block;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	z-index: 99;
    padding: 0.7rem 0.7rem;
    float: left;
    border-radius: 8px;
}
.MainWrapper ul {
    margin: 4px 0;
    padding: 0;
    list-style-type: none;
    flex: 1;
    display: flex;
}

.MainWrapper ul li {
   
}

.MainWrapper .page-columns {
    width: 100%;
}

.MainWrapper .request {
    width: 100%;
    display: inline-block;
}

.MainWrapper .response {
    text-align: left;
    margin: 5px;
    background-color: var(--bg-dark-color);
    color: var(--fg-color);
    font-family: Roboto Mono,monospace;
    border-radius: 8px;
}

.MainWrapper .output {
    margin-top: 12px;
}

.MainWrapper .resStatus {
    border: none;
    width: calc(100% - 20px);
    color: green;
}
.MainWrapper .method
{
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
}
.MainWrapper code,.MainWrapper input,.MainWrapper kbd,.MainWrapper pre,.MainWrapper select,.MainWrapper textarea {
    padding: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    width: 100%;
    height: 100%;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
}
.Rbutton {
    /* margin-top: 24px; */
}
.MainWrapper button {
    align-items: center;
    justify-content: center;
    padding: 6px 16px;
    border-radius: 8px;
    background-color: #473080;
    color: var(--act-color);
    font-size: 16px;
    font-family: Poppins,Roboto,Noto,sans-serif;
    font-weight: 700;
    transition: all .2s ease-in-out;
    fill: var(--act-color);
    cursor: pointer;
    border-color: var(--fg-light-color);
}

.MainWrapper label {
    padding: 4px;
    color: var(--fg-light-color);
}

.MainWrapper .method {
    flex: 0 0 120px;
}

.MainWrapper .apiUrl {
    flex: 1;
    min-width: 0;
}

.MainWrapper .send {
    flex: 0 0 150px;
}

.MainWrapper .urlInput {
    border-radius: 0 4px 4px 0;
}

.MainWrapper .clear {
    clear: both;
}

.MainWrapper .ace_content{
    background-color: var(--bg-dark-color)
}
.form-container {
    display: flex;
}
.form-group{
    display: flex;
    margin: auto;
    align-items: center;
}

.query_param_inputs
{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.query_param{
  display:flex;  
  width: 100%;
  flex-direction: column;
}
.width-15
{
    width:15%;
}
.width-40
{
    width:40%;
}
.Addbutton
{
    width: fit-content;
    margin-left: 10px;
}
@media screen and (max-width: 1093px) {
    .MainWrapper{
    width: 60%;
    }
}
@media screen and (max-width: 1090px) {
    .MainWrapper{
    width: 60%;
}
}
@media screen and (max-width: 870px) {
    .MainWrapper{
    width: 85%;
}
}
@media screen and (max-width: 670px) {
    .MainWrapper{
    width: 85%;
}
}
@media screen and (max-width: 600px) {
    .MainWrapper{
    width: 85%;
}
}
@media screen and (max-width: 530px) {
    .MainWrapper{
    width: 85%;
}
}
