.MainWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 60px);
  z-index: 99;
  margin: auto;
}

.MainWrapper ul {
  margin: 4px 0;
  padding: 0;
  list-style-type: none;
  flex: 1;
  display: flex;
}

.MainWrapperContent {
  flex: 1;
}

.MainWrapper .request {
  box-shadow: inset 0 -1px 0 #e6e6e6;
  padding: 7px 10px;
  height: 45%;
}

.TrashIcon {
  cursor: pointer;
}

.request .react-tabs__tab-panel {
  overflow-y: scroll;
  height: 150px;
}

.MainWrapper .request-inner {
  width: 100%;
  display: inline-block;
}

.MainWrapper .response {
  text-align: left;
  margin: 5px;
  height: 50%;
}

.MainWrapper .output {
  margin-top: 12px;
}

.MainWrapper .resStatus {
  border: none;
  width: calc(100% - 20px);
  color: green;
}

.MainWrapper .method {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

.MainWrapper .request code,
.MainWrapper input,
.MainWrapper .request select {
  padding: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  width: 100%;
  height: 100%;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.MainWrapper button {
  color: #fff;
  align-items: center;
  justify-content: center;
  padding: 6px 16px;
  border-radius: 4px;
  background-color: #ff5722;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: 1px solid #ff5722;
}

.MainWrapper label {
  padding: 4px;
  color: #ff5724;
}

.MainWrapper .method {
  flex: 0 0 120px;
}

.MainWrapper .apiUrl {
  flex: 1;
  min-width: 0;
}

.MainWrapper .send {
  flex: 0 0 150px;
}

.MainWrapper .urlInput {
  border-radius: 0 4px 4px 0;
}

.MainWrapper .clear {
  clear: both;
}

.Addbutton {
  width: fit-content;
  margin-left: 10px;
}

.react-tabs__tab--selected {
  color: black;
  border-bottom: 1px solid #ff5722;
}

.react-tabs__tab {
  display: inline-block;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

@media screen and (max-width: 1093px) {
  .MainWrapper {
    width: 60%;
  }
}
@media screen and (max-width: 1090px) {
  .MainWrapper {
    width: 60%;
  }
}
@media screen and (max-width: 870px) {
  .MainWrapper {
    width: 85%;
  }
}
@media screen and (max-width: 670px) {
  .MainWrapper {
    width: 85%;
  }
}
@media screen and (max-width: 600px) {
  .MainWrapper {
    width: 85%;
  }
}
@media screen and (max-width: 530px) {
  .MainWrapper {
    width: 85%;
  }
}
