.ResponseWrapper{
  /* background-color: var(--bg-dark-color);
  border-radius: 8px; */
}
.MainWrapper .ace_gutter {
  /* background: #ff5722 !important;
  color: #ffffff !important; */
}
.MainWrapper .ace_scrollbar-h {
  overflow-x: hidden !important;
}
  .headers {
      /* background-color: var(--bg-dark-color); */
      border-radius: 8px;
      margin: 5px;
      padding: 15px;
  }