
.ResponseCardWrapper{
/* background-color: var(--bg-dark-color);
border-radius: 8px; */
}
.responseContainer {
    padding-left: 5px;
    width: 98%;
    padding-top: 18px;
    padding-bottom: 20px;
}

#api-response {
    /* border-radius: 10px; */
    /* background-color: #fff */
}